.version.index /* version checker */
{
	color: #000010;
	background-color: #E72A57;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1077px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 17px;
	padding-bottom: 33px;
}

#u383
{
	z-index: 15;
	width: 1043px;
	height: 2px;
	left: -52px;
}

#pu318
{
	width: 0.01px;
	margin-left: -7px;
	margin-top: 22px;
}

#u318
{
	z-index: 2;
	width: 168px;
	margin-right: -10000px;
}

#u367-11
{
	z-index: 4;
	width: 322px;
	min-height: 69px;
	margin-right: -10000px;
	margin-top: 82px;
	left: 195px;
}

#u372-3
{
	z-index: 16;
	width: 5px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 129px;
}

#u118
{
	z-index: 19;
	width: 183px;
	margin-right: -10000px;
	left: 770px;
}

#ppmenuu467
{
	width: 0.01px;
	margin-left: -38px;
	margin-top: 42px;
}

#pmenuu467
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 59px;
}

#menuu467
{
	z-index: 21;
	width: 241px;
}

#u475
{
	width: 241px;
}

#u476
{
	width: 241px;
	min-height: 30px;
	padding-bottom: 32px;
	margin-right: -10000px;
}

#u478
{
	z-index: 24;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 24px;
}

#u476.MuseMenuActive,#u476:hover #u478
{
	margin: 0px -10000px 0px 0px;
}

#u477-4
{
	width: 227px;
	min-height: 30px;
	margin-right: -10000px;
	top: 16px;
	left: 14px;
}

#u476:hover #u477-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 0px -10000px 0px 0px;
}

#u476:active #u477-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 0px -10000px 0px 0px;
}

#u490
{
	width: 241px;
	min-height: 30px;
	padding-bottom: 32px;
	margin-right: -10000px;
}

#u493
{
	z-index: 31;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 24px;
}

#u476.MuseMenuActive #u478,#u490.MuseMenuActive,#u490:hover #u493
{
	margin: 0px -10000px 0px 0px;
}

#u491-4
{
	width: 227px;
	min-height: 30px;
	margin-right: -10000px;
	top: 16px;
	left: 14px;
}

#u476.MuseMenuActive #u477-4,#u490:hover #u491-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 0px -10000px 0px 0px;
}

#u490:active #u491-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 0px -10000px 0px 0px;
}

#u489,#u496
{
	width: 241px;
	margin-top: 2px;
}

#u497
{
	width: 241px;
	min-height: 30px;
	padding-bottom: 32px;
	margin-right: -10000px;
}

#u498
{
	z-index: 38;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 24px;
}

#u490.MuseMenuActive #u493,#u497.MuseMenuActive,#u497:hover #u498
{
	margin: 0px -10000px 0px 0px;
}

#u497.MuseMenuActive #u498
{
	margin: 0px -10000px 0px 0px;
}

#u499-4
{
	width: 227px;
	min-height: 30px;
	margin-right: -10000px;
	top: 16px;
	left: 14px;
}

#u490.MuseMenuActive #u491-4,#u497:active #u499-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 0px -10000px 0px 0px;
}

#u497.MuseMenuActive #u499-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 0px -10000px 0px 0px;
}

#u654
{
	z-index: 43;
	width: 162px;
	margin-left: 27px;
	margin-top: 101px;
}

#u527
{
	z-index: 99;
	width: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 246px;
}

#pu505-54
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 321px;
}

#u505-54
{
	z-index: 45;
	width: 691px;
	min-height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u505-2,#u505-3
{
	font-size: 25px;
	text-align: center;
	line-height: 30px;
	padding-right: 17px;
	color: #005CB7;
}

#u505-4
{
	font-size: 20px;
	text-align: justify;
	line-height: 28px;
	color: #005CB7;
}

#u505-17,#u505-29
{
	font-size: 19px;
	text-align: justify;
	line-height: 27px;
	color: #005CB7;
}

#u505-16,#u505-28,#u505-52
{
	font-size: 19px;
	text-align: justify;
	line-height: 27px;
	color: #00386F;
}

#u505-5,#u505-8,#u505-9,#u505-12,#u505-15,#u505-18,#u505-21,#u505-24,#u505-27,#u505-30,#u505-33,#u505-36,#u505-39,#u505-42,#u505-45,#u505-48,#u505-51
{
	color: #005CB7;
}

#u551
{
	z-index: 101;
	width: 291px;
	background-color: transparent;
	margin-left: 216px;
	margin-top: 19px;
	position: relative;
}

#u560
{
	z-index: 103;
	width: 1043px;
	height: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #014C97;
	left: -52px;
	margin-top: 44px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 11px;
}

#page .verticalspacer
{
	clear: both;
}

