#u383
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #014C97;
	position: relative;
}

#u367-11
{
	background-color: transparent;
	text-align: left;
	position: relative;
}

#u367-2
{
	font-size: 27px;
	line-height: 32px;
	color: #000000;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u367-3
{
	font-size: 23px;
	line-height: 28px;
	color: #000000;
	font-weight: bold;
}

#u367-5,#u367-7,#u367-9
{
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 1px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 800;
}

#menuu467
{
	border-color: #00386F;
	background-color: transparent;
	position: relative;
}

#u476
{
	background-color: #FFFFFF;
	position: relative;
}

#u478
{
	border-style: none;
	border-color: transparent;
	background-color: rgba(155, 2, 2, 0.86);
	position: relative;
}

#u476:hover #u478
{
	background-color: rgba(155, 2, 2, 0.86);
	-pie-background: rgba(155, 2, 2, 0.86);
}

#u476.MuseMenuActive #u478
{
	background-color: rgba(155, 2, 2, 0.86);
	-pie-background: rgba(155, 2, 2, 0.86);
}

#u477-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 30px;
	font-size: 25px;
	text-align: left;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u476:hover #u477-4
{
	border-style: none;
	border-color: transparent;
}

#u476:active #u477-4
{
	border-style: none;
	border-color: transparent;
}

#u476:hover #u477-4 p
{
	visibility: inherit;
}

#u476:active #u477-4 p
{
	visibility: inherit;
}

#u490
{
	background-color: #FFFFFF;
	position: relative;
}

#u476.MuseMenuActive #u477-4,#u490.MuseMenuActive
{
	border-color: #transparent;
}

#u493
{
	border-style: none;
	border-color: transparent;
	background-color: rgba(155, 2, 2, 0.86);
	position: relative;
	-pie-background: rgba(155,2,2, 0.86);
}

#u490:hover #u493
{
	background-color: rgba(155, 2, 2, 0.86);
	-pie-background: rgba(155,2,2, 0.86);
}

#u490.MuseMenuActive #u493
{
	background-color: rgba(155, 2, 2, 0.86);
	-pie-background: rgba(155,2,2, 0.86);
}

#u491-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 30px;
	font-size: 25px;
	text-align: left;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u476.MuseMenuActive #u477-4 p,#u490:hover #u491-4 p
{
	color: #000000;
	visibility: inherit;
}

#u490:active #u491-4 p
{
	color: #000000;
	visibility: inherit;
}

#u497
{
	background-color: #FFFFFF;
	position: relative;
}

#u498
{
	border-style: none;
	border-color: transparent;
	background-color: rgba(155, 2, 2, 0.86);
	position: relative;
	-pie-background: rgba(155, 2, 2, 0.86);
}

#u497:hover #u498
{
	background-color: rgba(155, 2, 2, 0.86);
	-pie-background: rgba(155,2,2, 0.86);
}

#u497.MuseMenuActive #u498
{
	background-color: rgba(155,2,2, 0.86);
	-pie-background: rgba(155,2,2, 0.86);
}

#u499-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 30px;
	font-size: 25px;
	text-align: left;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u490.MuseMenuActive #u491-4 p,#u497:active #u499-4 p
{
	color: #000000;
	visibility: inherit;
}

#u497.MuseMenuActive #u499-4 p
{
	color: #000000;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u318,#u372-3,#u118,#u475,#u489,#u496,#u654
{
	background-color: transparent;
	position: relative;
}


/*global properties set by pfzheng*/

#u318
{
	z-index: 2;
	width: 168px;
	margin-right: -10000px;
	margin-top: 52px;
}

#u367-11
{
	z-index: 4;
	width: 380px;
	min-height: 69px;
	margin-right: -10000px;
	margin-top: 82px;
	left: 290px;
}

#u118
{
	z-index: 19;
	margin-right: -10000px;
	left: 810px;
}