#u367-5,#u367-7,#u367-9
{
	font-family: open-sans-n7, sans-serif;
}

#u367-2,#u477-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u491-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u499-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u571-15,#u577-7,#u572-17,#u579-10
{
	font-family: open-sans-n7, sans-serif;
}

